.outline {
  height: 85vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 15%;
}

.employees {
  padding: 20px;
  height: 85%;
}

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.custom-wrapper {
  width: calc(100%/3);
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}
